@if(!isMessageSent())
{
    <p-panel header="Contact us" i18n-header="ContactTitle" class="block w-full lg:w-6">
        <form (ngSubmit)="onFormSubmit()" [formGroup]="contactForm" class="flex flex-column gap-4 p-2">
            <div class="flex flex-column w-full">
                <p-floatLabel>
                    <input id="email" formControlName="email" type="text" pInputText class="w-full"/>
                    <label for="email" i18n="emailLabel">Email<small class="text-red-500">*</small></label>
                </p-floatLabel>
                @if(contactForm.get('email')?.invalid && contactForm.get('email')?.touched)
                {
                    @if(contactForm.get('email')?.errors?.['email'])
                    {
                        <small class="text-red-500" i18n="errorFormEmail">Enter a valid email</small>
                    }
                    @if(contactForm.get('email')?.errors?.['required'])
                    {
                        <small class="text-red-500" i18n="errorFormRequired">This field is required</small>
                    }
                }
            </div>
            <div class="flex flex-column w-full">
                <p-floatLabel>
                    <textarea
                        formControlName="message"
                        class="w-full"
                        id="message" 
                        rows="5" cols="30" 
                        pInputTextarea>
                    </textarea>
                    <label for="message" i18n="messageLabel">Message<small class="text-red-500">*</small></label>
                </p-floatLabel>
                @if(contactForm.get('message')?.invalid && contactForm.get('message')?.touched)
                {
                    @if(contactForm.get('message')?.errors?.['maxlength'])
                    {
                        <small class="text-red-500" i18n="errorFormMessageLength">Enter a message under {{messageLength}} characters</small>
                    }
                    @if(contactForm.get('message')?.errors?.['required'])
                    {
                        <small class="text-red-500" i18n="errorFormRequired">This field is required</small>
                    }
                }
                <small>{{contactForm.get('message')?.value.length}}/{{messageLength}}</small>
            </div>
            <div class="flex w-full justify-content-end">
                <p-button type="Submit" [disabled]="contactForm.invalid" i18n="submitLabel" label="Submit" icon="pi pi-envelope" />
            </div>
        </form>
    </p-panel>
}@else {
    <div class="w-full p-2 flex justify-content-center align-items-center">
        <h2 i18n="successfulContactRequest">Contact request sent successfully</h2>
    </div>
}

